@using AccountFlow.Web.Domain.Usermanagement.Models
@model RegisterModel
<form asp-action="Register" method="post">
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" id="Email" class="form-control" name="Email" />
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" id="Password" class="form-control" name="Password" />
    </div>
    <div class="form-group">
        <label for="ConfirmPassword">Confirm Password</label>
        <input type="password" id="ConfirmPassword" class="form-control" name="ConfirmPassword" />
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
